<dl>
  <dt>
    <label>Event</label>
  </dt>
  <dd> 
    <%= select(:record, :event_id, @select_options, {:include_blank => true}, {:name => input_name}) %>
  </dd>
  <script>
    function update(city, state) {
      $('record_state').value = city;
      $('record_city').value = state;
    }
  </script>
  <%= observe_field :record_event_id,
                    :frequency => 0.5,
                    :update => 'record_city',
                    :function => "update(#{}, #{})" %>
</dl
