<object type="application/x-shockwave-flash" data="/player.swf" id="audioplayer<%= id %>" height="24" width="290">
	<param name="movie" value="/player.swf">
	<param name="FlashVars" value="playerID=<%= id %>&amp;soundFile=<%= file %>">
	<param name="quality" value="high">
	<param name="menu" value="false">
	<param name="wmode" value="transparent">
</object>
