<dl>
  <dt>
    <label>State</label>
  </dt>
  <dd> 
    <%= select(:record, :state, StateSelect.state_options_for_select, {:include_blank => true}) %>
  </dd>
  <dd>
    <% if @record.phone_state -%>
      <%= button_to_function "copy", "$('record_state').value = '#{@record.phone_state}'" %>
      <label> Phone state: <%= @record.phone_state %></label>
    <% end -%>
  </dd>
</dl
